@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: url(./assets/anonbg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.671);
  background-size: cover;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  top: 90px;
  width: 450px;
  min-height: 60%;
  padding: 0px 0px 20px 0px;
  background: url(./assets/randomuserbg.jpg) no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.671);
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.575);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.486);
  color: rgba(255, 255, 255, 0.712);
}

.wrapper h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  margin-bottom: 30px;
  background-color: rgb(20, 20, 20);
  border-radius: 8px 8px 0px 0px;
  color: rgba(255, 255, 255, 0.712);
}

.loading {
  display: block;
  margin-top: 110px;
}

.spin {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.712);
  font-weight: 700;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.photo {
  position: absolute;
  display: flex;
  margin-top: 80px;
}

.photo img {
  border-radius: 5px;
}

.info {
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 10px 0px 0px 10px;
}

h3 {
  margin-top: 10px;
}

.wrapper p {
  padding: 0px;
  font-size: 1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .wrapper {
    position: absolute;
    top: 20px;
    width: 400px;
    height: 80vh;
    overflow-y: scroll;
    margin-bottom: 50px;
  }

  .loading {
    display: block;
    margin-top: 160px;
  }

  .photo {
    margin-top: 120px;
  }
}
