<div class="projects-title">API's with Javascript</div>
<div class="projects-cards">
    <a href="https://nodisassemble.github.io/moviepicker/" target="_blank">
        <div class="card">
            <h2>Movie Picker</h2>
            <p>Work In Progress</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-film fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/chucknorrisIO" target="_blank">
        <div class="card">
            <h2>Chuck Norris</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-user-ninja fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/loremipsum" target="_blank">
        <div class="card">
            <h2>Lorem Ipsum</h2>
            <p>Work In Progress</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-align-left fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/lyricsearch" target="_blank">
        <div class="card">
            <h2>Lyric Search</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-compact-disc fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/zen" target="_blank">
        <div class="card">
            <h2>Zen Quotes</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-yin-yang fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/bored" target="_blank">
        <div class="card">
            <h2>Bored?</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-smile fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/cocktailDB" target="_blank">
        <div class="card">
            <h2>Cocktail Recipes</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-cocktail fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/genagify" target="_blank">
        <div class="card">
            <h2>Gender Guess</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-venus-mars fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/apis/themealDB" target="_blank">
        <div class="card">
            <h2>Food Recipe App</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-hamburger fa-5x"></i></div>
            </div>
        </div>
    </a>
    <a href="https://nodisassemble.github.io/javascript/weather/jsweatherapp/" target="_blank">
        <div class="card">
            <h2>Weather App</h2>
            <p>HTML | JS | CSS</p>
            <div class="card-icon-banner">
                <div class="card-icon"><i class="fas fa-cloud-sun fa-5x"></i></div>
            </div>
        </div>
    </a>
</div>